@namespace url(http://www.w3.org/1999/xhtml);

/* 物理要素/属性による指定を無効化 */

font {
	font: 100%/1 sans-serif !important;
	color: inherit !important;
}

b { font-weight: normal !important; }
i { font-style: normal !important; }
u, s, strike { text-decoration: none !important; }
tt { font-family: inherit !important; }

big, small { font-size: 100% !important; }

br+br { display: none !important; }
br[clear] { clear: none !important; }
nobr { white-space: normal !important; }

center, *[align] {
	text-align: left !important;
	float: none !important;
}

*[width] { width: auto !important; }
*[height] { height: auto !important; }
*[hspace] {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
*[vspace] {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

*[background], *[bgcolor] { background: transparent none !important; }

*[border="0"] { border: 2px solid !important; }


/* tableレイアウトを白日の下に！ */

table, table[border="0"] { border: 2px outset silver; }
td, th, table[border="0"] td, table[border="0"] th { border: 1px inset silver; }

*[cellpadding], *[cellpading] * { padding: 0 !important; }
*[cellspacing], *[cellspaging] * {
	border-collapse: separate;
	border-spacing: 0 !important;
}
*[valign] { vertival-align: normal !important; }
*[nowrap] { white-space: normal !important; }


/* bodyの指定を無効化 */

html { background-color: -moz-field; }
body[bgcolor], body[background] { background: inherit !important;}
body[text] { color: inherit !important; }
body[link] a:link { color: blue !important; }
body[vlink] a:visited { color: purple !important; }
body[alink] a:active { color: red !important; }
a:link, a:visited, a:active { text-decoration: underline; }


//不正な構文

:not(ul):not(ol) > li { display: inline !important; }

