@charset "Shift_JIS";
@namespace url(http://www.w3.org/1999/xhtml);
/* BoxView */ 

/* Original Made by ありみかさとみ(http://www.remus.dti.ne.jp/~a-satomi/) */
/* ============================================

 エレメント構造を把握しやすくするユーザーCSSなり。

 ・BOX系は赤の破線枠
 ・INLINE系は緑の破線枠※
 ・BRを緑のハコ※
 ・TABLEのセル背景を灰色＆セル境界枠を灰色破線
 ・HTML4.01において非推奨のエレメントの背景をピンク
 ・HTML文法に存在しない謎エレメントの背景を赤


 …で表示する(はず)。

 ※WinIE5 はインライン要素へのborder指定が
 　効かないくさい。

 サイトデザインをCSSで行ってるぺーじでは
 うまくいかないこともあり。
 （User CSSの !important がカスケーディング順位で
 　最高順位にくるのがCSS2の規格だけど、
 　MacIE5はそうならない。う～む。)

============================================ */

/*
Customized by Piro(http://www.cc-net.or.jp/~piro/)

このシートは、ありみか氏のものをベースに手を加えたものです。
変更点は以下のとおり。

 ・XHTML 1.1 基準に修正
 ・背景色をグレーに変更
 etc.
*/
	
*, 
*:before, *:after
{
	/* color: inherit !important; */
	/* background: inherit !important; */
	color: black !important;
	background: transparent none !important;
	border: 1px dotted red !important;
}
 
/* ブロックレベル要素 */ 
	
html 
{
	border: 0 !important;
}
 
body 
{
	color: black !important;
	border-color: black !important;
	background: #B4BFC1 none !important;
	font-family: "ＭＳ Ｐゴシック","ＭＳゴシック",Osaka,sans-serif !important;
}
 
pre 
{
	font-family: "ＭＳゴシック","Osaka－等幅",monospace !important;
}
 
/* table */ 
	
tr, tbody 
{
	border: 0 !important;
}

 
th, td 
{
	background-color: #B0B0B0 !important;
	border-color: #909090 !important;
}
  
ul li, 
ul ul ul ul li
{
	list-style-image: none !important;
	list-style-type: disc !important;
}
	
ul ul li, 
ul ul ul ul ul li
{
	list-style-type: circle !important;
}
 
ul ul ul li, 
ul ul ul ul ul ul li
{
	list-style-type: square !important;
}
  
p:before, 
div:before,
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before,
address:before,
form:before,
blockquote:before
{
	font-family: "Arial Black", sans-serif !important;
	font-size: x-large !important;
	font-style: normal !important;
	color: #EFEFEF !important;
	border: none !important;
	float: left !important;
	width: 10px !important;
	line-height: 0 !important;
	white-space: pre !important;
}
	
p:before 
{
	content: "P" !important;
	width: 1em;
}
 
div:before 
{
	content: "Div" !important;
}
 
address:before 
{
	content: "Address" !important;
}
 
form:before 
{
	content: "Form" !important;
}
 
blockquote:before 
{
	content: "Quote" !important;
}
 
h1:before 
{
	content: "H1" !important;
}
 
h2:before 
{
	content: "H2" !important;
}
 
h3:before 
{
	content: "H3" !important;
}
 
h4:before 
{
	content: "H4" !important;
}
 
h5:before 
{
	content: "H5" !important;
}
 
h6:before 
{
	content: "H6" !important;
}
   
/* インライン要素 */ 
abbr, acronym, br, cite, code, dfn, em, kbd, q, samp, span, strong, var, object, param, b, big, i, small, sub, sup, tt, del, ins, bdo, button, input, label, legend, select, optgroup, option, textarea, img, area, map, meta, script, link, base,
ruby, rbc, rtc, rb, rt, rp
{
	border-color: #005500 !important;
}
	
*:before, *:after 
{
	color: #504020 !important;
	border-color: #504020 !important;
}
 
br:before 
{
	content: "*" !important;
	color: green !important;
	background-color: green !important;
	border-color: green !important;
	width: 1em; height: 1em;
}
 
:link, 
:visited,
a:hover,
a:active,
a:focus
{
	text-decoration: underline !important;
}
	
:link 
{
	color: #1822CD !important;
}
	
:link img 
{
	border-color: #1822CD !important;
}
  
:visited 
{
	color: #6C18B0 !important;
}
	
:visited img 
{
	border-color: #6C18B0 !important;
}
  
a:active, a:focus, a:hover, 
a:active *, a:focus *, a:hover *
{
	color: #ED181E !important;
	background: white none !important;
}
	
a:active img, a:focus img, a:hover img 
{
	border-color: #ED181E !important;
}
    
/* XHTML 1.1 非推奨属性？ */ 
[style]
{
	background-color: #FFE5EA !important;
}
	
[style]:after 
{
	content: "[style]";
}
  
/* XHTML 1.1 に存在しない要素 */ 
blink, nobr, wbr, hype, embed, noembed, spacer, keygen, multicol, layer, ilayer, nolayer, server, textflow, bgsound, marquee, listing,

plaintext, applet, xmp, basefont, center, dir, font, frameset, frame, noframes, iframe, isindex, menu, s, strike, u
{
	background-color: #FF6181 !important;
}
 
/* XHTML 1.1 に存在しない属性 */ 
[align], [target], a[name], area[name], form[name], img[name], script[language]
{
	background-color: #FF6181 !important;
}
	
[align]:after 
{
	content: "[align]";
}
 
[target]:after 
{
	content: "[target]";
}
 
a[name]:after, area[name]:after, img[name], form[name]:after 
{
	content: "[name]";
}
 
script[language]:after 
{
	content "[language]";
}
   
