@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

radiogroup {
	border: thin -moz-bg-solid;
	-moz-border-radius: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

radio {
	font-size: larger;
	font-weight: bold;
}

separator {
	height: 1px;
	border: thin -moz-bg-inset;
	margin: 0.2em 0;
}
